
table{
    background-color:rgb(211, 247, 211);
    border-color:rgb(5, 78, 5) ;
    border-collapse: collapse;
    text-align: center;
    
}

thead{
    background-color: rgb(5, 78, 5);
    color:azure;
    
}

thead tr td{
    padding: 1rem;
    background-color: green;
    
}
thead tr td:first-child{
    background-color: rgb(5, 78, 5);
    
}
.title{
    background-color: rgb(5, 78, 5);
    
}
tbody td {
    border: 1px solid rgb(140, 240, 129); 
}



