@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=Kalam:wght@300&family=Prompt&display=swap');

:root{
    --primary-color : #BCA88E;
    --background-color :  #E3E8E9;
    --typeface-color1 : #9DA993;
    --additional-color: #E4B4B4;
    --typeface-color2: #000000;
    --main-background-color: aliceblue;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--main-background-color);
    color: var(--typeface-color2);
}

body {
    margin: 5% ;

}


#name{
    justify-content:space-evenly;
    
    display: flex;
    
    background-color: var(--primary-color);
    /* padding: 10px; */
    align-items: center;
    width: 100%;
}


#name h1{
    
    background-color: var(--main-background-color-color);
    text-align: center;
}

nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    align-items: center;
    background-color: var(--background-color);
    opacity: 0.6;
}
nav div{
    color: var(--typeface-color2);
    text-decoration: none;
    background-color: var(--background-color);
    padding: 10px;
    
}
nav div a{
    display: block;
    
}

nav div:hover{
    background-color: var(--typeface-color1);
    opacity: 1;
}

span{
    background-color: var(--primary-color);
}



h1{
    font-family:"Kalam", cursive;
}

p, li, span{
    font-family: "IBM Plex Mono";
}

a {
    font-family: "Prompt" Sans;
    text-decoration: none;
}

header{
    width:100%
}

img{
    width: 100%;
    height: 100%;
}


.hero-class{
    display: grid;
    width: 100%;
    align-items: center;
    
    
}
.hero-content{
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.services, .side-card{
    text-decoration: none;
    padding: 0.5em;
    background-color: var(--primary-color);
    transition: transform 0.3s;
}

.side-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.side-card{
    margin: 1em;
}
.side-card h2{
    text-align: center;
    background-color: var(--primary-color);
}
.side-card p{
    text-align: center;
    background-color: var(--primary-color);
}

.card-box{
    display: grid;
    padding: 0.2em;
    grid-template-rows: 3fr 1fr;

    box-shadow:5px 5px 5px var(--primary-color);
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 2em;
}

#business{
    background-color: var(--typeface-color1);
    max-height: 32em;
    display: flex;
    overflow: scroll;
    flex-direction: column;
}

#join{
    margin: auto;
    border:1px solid var(--primary-color);
    
}
#join form h1{
    text-align: center;
}

form{
    padding: 1em;
   
    
}
label{
    text-align: left;
    font-family: "IBM plex Mono";

}
input, option{
    background-color: var(--background-color);
    
    height: 1.5em;
    
}


fieldset, fieldset div{
    margin:1em;
}
fieldset div input, fieldset div textarea{
    display: flex;
    flex-direction: column;
}

fieldset, button{
    box-shadow: inset -1px -1px 10px 5px var(--primary-color);
}


legend{
    text-align: center;
    font-family: "kalam";
    font-size: 1.5em;
}
textarea{
    height: 15em;
     max-width: 90%; 
    background-color: var(--background-color);
    
}
#button-box{
    text-align: center;
}

button{
    /* margin:0 40%; */
   
    max-width: 100%;
    /* text-align: center; */
    padding: 0.4em 2em;
    background-color: var(--additional-color);
    font-size: 2em;
    font-weight: 700;
}
#hidden{
    display: none;
}
select{
    max-width: 15em;
    
}

#membershipInfo{
    border:1px solid var(--primary-color);
    display: flex;
    flex-direction: column;
    
    
    
}
#membershipInfo div{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 0.2em;
    box-shadow: inset 1px 1px 10px 5px var(--primary-color);
}


footer{
    background-color: var(--primary-color);
    justify-content: space-around;
    color:var(--link-color);
    text-align: center;
    padding: 10px;
    
}
footer p{
    background-color: var(--primary-color);
}

footer span{
    background-color:var(--primary-color);
}

#thankYou{
    text-align: center;
    margin: 20em;
}
